

.right{
    color: white;
    position: absolute;
    margin-top: -54rem;
    margin-left: 54rem;
    margin-right: 5rem;
    font-size: 1rem;
    

}
.left{
    color:white;
    position: absolute;
    margin-top: -54rem;
    margin-left: 19rem;
    margin-right: 57rem;
    font-size: 1rem;
}
.logo{
    margin-top: -14rem;
    margin-left: 4rem;
    margin-right: 5rem;
    position: absolute;
  }

.logo img{
    float: left;
width: 12rem;
height: auto;
margin-top: -2rem;
margin-left: 78rem;
}


.logo2{
    margin-top: -15rem;
    margin-left: 6rem;
    margin-right: 5rem;
    position: absolute;
}

.logo2 img{
    float: left;
    width: 12rem;
    height: auto;
    margin-top: -1rem;
    margin-left: 38rem;
}


